---
import Layout from "../layouts/Layout.astro";
import SearchBar from "../components/SearchBar.astro";
---

<Layout title="CSUF Courses">
  <a href="/">
    <h1 class="text-5xl md:text-6xl font-semibold text-center">CSUF Courses</h1>
  </a>

  <SearchBar />

  <p class="p-8">
    CSUF Courses is an easy-to-use course search engine for CSUF students.
  </p>
</Layout>
